
@{
    ViewData["Title"] = "GetClassTimetables";
}

<h1>GetClassTimetables</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Day</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Class</th>
            <th>Subject</th>
            <th>Teacher</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Day</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>@item.ClassName</td>
                <td>@item.SubjectName</td>
                <td>@item.TeacherName</td>
            </tr>
        }
    </tbody>
</table>
